.root {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;

  table {
    border: 1px solid var(--additional);
  }

  th {
    border: 1px solid var(--additional);
    padding: 1rem 2rem;
  }

  td {
    border: 1px solid var(--additional);
    padding: 1rem 2rem;
    cursor: pointer;

    span {
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
